body
{
	margin: 1em auto;
	width: 60em;
  line-height: 1.5;
  color: #24292e;
}


div#title {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  font-family: serif;
  margin-bottom: 1em;
}

div#teaser {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div#authors {
  text-align: center;
  font-size: 14pt;
  margin-bottom: 2em;
}


table.paper
{
  margin: 1em auto 1em auto;
  table-layout: fixed;
  width: 700px;
  border-collapse: collapse;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

table.paper thead {
  border-bottom: solid 1px black;
}

table.paper thead th:nth-child(1) {
  text-align: left;
}

table.paper th, td {
  padding: 5px;
}



table.paper thead th:nth-child(2), table.paper thead th:nth-child(3) {
  width: 130px;
  text-align: center;
}

p code {
  font-weight: bold;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

div p, div li, div table, div img, div h4 {
  margin: 0em 2em 1em 2em;
  hyphens: auto;
  text-align: justify;
  text-decoration: black;
}

div#abstract p {
  margin:0em 5em 0em 5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
;
}

div#links{
  text-align: center;
  margin:2em;
}

pre#bibtex {
  margin: 1em 2em;
}